.register {
    background-color: #fafafa;
}

.register__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 396px;
}

.register-logo {
    margin: 70px 0 0;
    display: block;
    width: 38px;
    height: 38px;
    background-image: url(../../images/header-logo.svg);
}

.register__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 40px 0 0;
}

.register__form {
    margin: 40px 0 0;
}

.register__fieldset {
    display: flex;
    flex-direction: column;
    margin: 6px 0 0;
    border: none;
    padding: 0;
}

.register__fieldset:first-child {
    margin: 0;
}

.register__label {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
}

.register__input {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border: none;
    outline: none;
    background-color: transparent;
    margin: 5px 0 0;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 0 10px;
}

.register__input_error {
    color: #000;
}

.register__input:focus {
    border-bottom: 1px solid #3456F3;
}

.register__error {
    visibility: hidden;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    margin: 6px 0 0;
}

.register__error_active {
    visibility: visible;
}

.register__button {
    width: 396px;
    height: 45px;
    background: #3456F3;
    border-radius: 3px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin: 10px 0 0;
}

.register__button:hover {
    opacity: .8;
}

.register__button_error {
    opacity: .3;
}

.register__button_error:hover {
    opacity: .3;
}

.register__submit-error {
    visibility: hidden;
    display: block;
    margin: 112px 0 0;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
}

.register__submit-error_active {
    visibility: visible;
}

.register__signin-label {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A0A0A0;
    margin: 16px 0 70px;
}

.register__login {
    color: #3456F3;
    text-decoration: none;
    margin: 0 0 0 6px;
}

.register__login:hover {
    opacity: .7;
}

@media screen and (max-width: 770px) {
    .register-logo {
        margin: 232px 0 0;
    }

    .register__signin-label {
        margin: 16px 0 232px;
    }
}

@media screen and (max-width: 470px) {
    .register-logo {
        margin: 56px auto 0;
    }

    .register__signin-label {
        margin: 14px 0 30px;
    }

    .register__container {
        max-width: 260px;
    }

    .register__form {
        margin: 80px 0 0;
    }

    .register__button {
        width: 260px;
        height: 45px;
        font-size: 12px;
        line-height: 15px;
    }

    .register__submit-error {
        margin: 200px 0 0;
    }

    .register__signin-label {
        font-size: 12px;
        line-height: 15px;
    }
    
    .register__title {
        margin: 50px 0 0;
        text-align: center;
    }

    .register__login {
        margin: 0 0 0 7px;
    }
}